<!DOCTYPE html>
<html ng-app="Courses">
<head>
    {% block head %}
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="theme-color" content="#001314">
        <title>{% block title %}{{ title }}{% endblock %}</title>
        <base href="{% block base %}{% endblock %}">
        {% block meta %}
            <meta name="description" content="Тренинги и курсы программирования WebCamp"/>
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="icon" sizes="192x192" href="//{{ host }}/img/icons/logo.svg">
        <link rel="shortcut icon" href="//{{ host }}/img/favicon.ico">
        <link href='https://fonts.googleapis.com/css?family=Lora|Open+Sans:400,300,600&subset=latin,cyrillic'
              rel='stylesheet'
              type='text/css'>
        {% if env == "prod" %}
            <link rel="stylesheet" href="//{{ host }}/dist/style.css" type="text/css" media="screen">
        {% else %}
            <link rel="stylesheet" href="//{{ host }}/css/webcamp.min.css" type="text/css" media="screen">
            <link rel="stylesheet" href="//{{ host }}/css/supermain.css" type="text/css" media="screen">
        {% endif %}


    {% endblock %}
</head>

<body ng-controller="WebcampCtrl" ng-class="{'pos-f':showModal}">
<header class="header">
    <div class="header__top">
        <div class="grid pos-r">
            <div class="grid__left w_m-20 w_l-30">
                <a class="header__logo show-for-medium" href="/"><img src="//{{ host }}/img/icons/logo.svg" alt=""/></a>
                <a class="header__logo show-for-small-only" href="/"><img src="//{{ host }}/img/icons/icon.svg" alt=""/></a>
            </div>
            {{ include('parts/navigation.html.twig') }}
        </div>
    </div>
</header>
<div id="content">{% block content %}{% endblock %}</div>
<footer>
    <div class="footer">
        <div class="row grid hide-for-small-only">
            <div class="medium-3 small-6 columns mb-20 footer__links">
                <p>Обучение</p>
                <ul class="list-nostyle">
                    <li><a href="//{{ host }}/study#promo">Бесплатный пробный урок</a></li>
                    <li><a href="//{{ host }}/courses">Курсы и тренинги</a></li>
                    <li><a href="//{{ host }}/schedule">Расписание</a></li>
                    {#<li><a href="//{{ host }}/career">Карьера в IT</a></li>#}
                    {#<li><a href="//{{ host }}/practice">Практика</a></li>#}
                </ul>
            </div>
            <div class="medium-3 small-6 columns mb-20 footer__links">
                <p>Компаниям</p>
                <ul class="list-nostyle">
                    <li><a href="//{{ host }}/aboutus#instructors">Преподаватели</a></li>
                    <li><a href="//{{ host }}/aboutus#reviews">Отзывы</a></li>
                    <li><a href="#" rel="#sign_up_form" ng-click="enroll()">Оставить заявку</a></li>
                </ul>
            </div>
            <div class="medium-3 small-6 columns mb-20 footer__links">
                <p>Студентам</p>
                <ul class="list-nostyle">
                    <li><a href="//{{ host }}/faq">Часто задаваемые вопросы</a></li>
                    <li><a href="//{{ host }}/study#worktime">Время работы</a></li>
                    {#<li><a href="//{{ host }}/certification">Сертификаты</a></li>#}
                    {#<li><a href="//{{ host }}/news">Новости</a></li>#}
                    <li><a href="//{{ host }}/contacts#map">Где мы</a></li>
                </ul>
            </div>
            <div class="medium-3 small-6 columns footer__social text-right">
                <p>Мы в соцсетях</p>
                <ul class="list-inline">
                    <li><a href="https://www.facebook.com/webcamp.kiev" class="fi-social-facebook size-36"
                           target="_blank"></a></li>
                    <li><a href="https://www.linkedin.com/company/webcamp" class="fi-social-linkedin size-36 ml-10"
                           target="_blank"></a></li>
                    <li><a href="https://www.youtube.com/user/webcampkiev" class="fi-social-youtube size-36 ml-10"
                           target="_blank"></a></li>
                </ul>
            </div>
        </div>
        <div id="icons-small" class="row grid show-for-small-only text-center">
            <ul class="list-inline">
                <li><a href="https://www.facebook.com/webcamp.kiev" class="fi-social-facebook size-72"
                       target="_blank"></a></li>
                <li><a href="https://www.linkedin.com/company/webcamp" class="fi-social-linkedin size-72 ml_s-40"
                       target="_blank"></a></li>
                <li><a href="https://www.youtube.com/user/webcampkiev" class="fi-social-youtube size-72 ml_s-40"
                       target="_blank"></a></li>
            </ul>
        </div>
    </div>
    <div class="copyright text-center">
        {% block footer %}
            &copy; Copyright 2013 - {{ "now"|date('Y', timezone="Europe/Paris") }} by <a
                href="/">{{ title }}</a>.
        {% endblock %}
    </div>
</footer>
<enroll-modal ng-show="showModal">

</enroll-modal>

{#Google Analytics#}
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-48484111-1', 'auto');
    ga('send', 'pageview');

</script>
{# JSON-LD MetaData for Google#}
<script type="application/ld+json">
[
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": "Webcamp",
  "alternateName": "Webcamp - курсы программирования",
  "url": "http://www.webcamp.com.ua"
},
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "Webcamp",
  "alternateName": "Webcamp - Курсы программирования",
  "url": "http://www.webcamp.com.ua",
  "logo": "http://www.webcamp.com.ua/img/icons/logo.svg",
  "contactPoint": [
    { "@type": "ContactPoint",
      "telephone": "+380637078513",
      "contactType": "customer service"
    },
    { "@type": "ContactPoint",
      "telephone": "+380442356117",
      "contactType": "customer service"
    },
    { "@type": "ContactPoint",
      "telephone": "+380972555106",
      "contactType": "customer service"
    }
  ],
  "sameAs": [
    "https://www.facebook.com/webcamp.kiev",
    "https://www.instagram.com/webcamp_ua/",
    "https://www.linkedin.com/company/webcamp",
    "https://www.youtube.com/user/webcampkiev",
    "https://plus.google.com/+WebcampUaKyiv"
  ]

}
]
</script>

{% if env == "prod" %}
    <script src="//{{ host }}/dist/script.min.js"></script>
{% else %}
    <script src="//{{ host }}/bower_components/lodash/lodash.js"></script>
    <script src="//{{ host }}/bower_components/moment/moment.js"></script>
    <script src="//{{ host }}/bower_components/moment/locale/ru.js"></script>
    <script src="//{{ host }}/js/libs/xml2json.js"></script>
    <script src="//{{ host }}/bower_components/angular/angular.js"></script>
    <script src="//{{ host }}/bower_components/angular-locale-ru/angular-locale_ru.js"></script>
    <script src="//{{ host }}/bower_components/angular-ui-mask/dist/mask.js"></script>
    <script src="//{{ host }}/bower_components/angular-route/angular-route.js"></script>
    <script src="//{{ host }}/bower_components/angular-resource/angular-resource.js"></script>
    <script src="//{{ host }}/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="//{{ host }}/js/courses-ng/utils.js"></script>
    <script src="//{{ host }}/js/courses-ng/calendar.js"></script>
    <script src="//{{ host }}/js/courses-ng/clock.js"></script>
    <script src="//{{ host }}/js/courses-ng/timeline.js"></script>
    <script src="//{{ host }}/js/courses-ng/enroll.js"></script>
    <script src="//{{ host }}/js/courses-ng/app.js"></script>
{% endif %}
{% block js %}{% endblock %}
</body>
</html>