{% extends "base.html.twig" %}
{% block title %}Index{% endblock %}

{% block content %}
    {{ include('slider.html.twig') }}

    <div class="panel--success mb-50">
        <div class="divider grid" id="closest">
            <div class="divider__text--right">
                <h2><span class="highlight--white">Эти группы стартуют в ближайшее время</span></h2>

                <p>Успейте записаться на интересующий Вас курс</p>
            </div>
            <div class="divider__more">
                <a href="/schedule" class="btn--warning btn--follow btn--lg">
                    <span class="follow">Подробнее</span>
                </a>
            </div>
        </div>
    </div>
    {{ include('parts/main-schedules.html.twig') }}
    <div class="tracks">
        <div class="row divider">
            <div class="divider__text--center">
                <h2>Специальности</h2>
            </div>
        </div>
        <div class="row track">

            {% for key, track in tracks %}
                <div class="medium-{{ 12 / (loop.length % 12) }} columns mb-20">

                    <div class="track__item">
                        <h3>{{ key }}</h3>
                        <img src="img/icons/course-icons_{{ key }}.svg" alt=""/>

                        <div class="track-courses">
                            <ul class="track-courses__list">
                                {% for item in track %}
                                    <li>
                                        <a href="/courses/{{ item.course_alias }}">
                                            {{ item.course }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    <div class="reviews">
        <div class="row grid divider">
            <div class="divider__text--center mb-20">
                <h2 class="text--success">Отзывы наших студентов</h2>
            </div>

            <div class="review clearfix">
                <div class="medium-3 columns">щщлщ</div>
                <div class="medium-9 columns">
                    <p class="review__name">Имя Фамилия</p>

                    <p class="review__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
                        assumenda
                        dolorum eum exercitationem fugiat harum iusto labore modi nemo nobis!</p>
                </div>
            </div>
            <div class="divider__more">
                <a href="/reviews" class="btn--warning btn--follow btn--lg">
                    <span class="follow">Все отзывы</span>
                </a>
            </div>
        </div>
    </div>
    <div class="awards">
        <div class="divider grid row">
            <div class="divider__text layout-table">
                <div class="layout-table__cell-70 layout-table__cell--middle">
                    <h2>Наши награды</h2>

                    <p>21 марта 2015 года в рамках всеукраинской конференции IT Jam проходил конкурс IT Education Awards.
                        Среди 46 участников со всей Украины, по итогам конкурса были отмечены лучшие учебные центры и образовательные инициативы.
                        </p>

                    <p>Курсы программирования Webcamp стали победителями в номинации "Специализированое IT-образование".</p>
                </div>
                <div class="layout-table__cell-30 layout-table__cell--middle">

                </div>
            </div>
        </div>
    </div>

    <div class="row divider employers">
        <div class="divider__text--center mb-30">
            <h2 class="text--success">Компании в которых работают наши студенты</h2>
        </div>
        <div class="employers__logos">
            <img src="img/employers/com_01.png" alt=""/>
            <img class="ml-15" src="img/employers/com_02.png" alt=""/>
            <img class="ml-15" src="img/employers/com_03.png" alt=""/>
            <img class="ml-15" src="img/employers/com_04.png" alt=""/>
        </div>
    </div>
{% endblock %}
