{% extends "base.html.twig" %}
{% block title %}Index{% endblock %}
{#{% block head %}#}
    {#{{ parent() }}#}
    {#<style type="text/css">#}
        {#.important { color: #336699; }#}
    {#</style>#}
{#{% endblock %}#}
{% block content %}
    {{ include('slider.html.twig') }}
    <div class="panel--success mb-50">
        <div class="divider grid" id="closest">
            <div class="divider__text--right">
                <h2><span class="highlight--white">Эти группы стартуют в ближайшее время</span></h2>

                <p>Успейте записаться на интересующий Вас курс</p>
            </div>
            <div class="divider__more">
                <a href="/schedule" class="btn--warning btn--follow btn--lg">
                    <span class="follow">Подробнее</span>
                </a>
            </div>
        </div>
    </div>

    <div class="row mb-50" ng-controller="SchedulesController">
        {% verbatim %}

        <div class="medium-6 columns closest" ng-class="{'end': $last}" ng-repeat="schedule in closest">
            <div class="row">
                <div class="small-3 columns closest__date">
                    <p class="closest__day">
                        {{ schedule.begin | date:'d' }}
                    </p>

                    <p class="closest__month">
                        {{ schedule.begin | date:'MMMM' }}
                    </p>
                </div>
                <div class="small-9 columns">
                    <div class="closest__course">
                        <h3 class="closest__name">
                            <a href="/courses/{{ schedule.course_alias }}">
                                {{ schedule.course_name }}
                            </a>
                        </h3>

                        <p class="closest__time">
                            {{ schedule.begin | date:'HH:mm' }}
                            -{{ schedule.getEndTime() | date:'HH:mm' }}
                            | {{ schedule.lessonCount }}
                            уроков</p>

                        <p class="closest__price">{{ schedule.price }} грн</p>
                        <a href="#" class="btn--warning closest__enroll">Записаться</a>
                    </div>
                </div>
            </div>


        </div>
        {% endverbatim %}
        {#{% for item in closest %}#}
        {#{% endfor %}#}
    </div>

    <div class="tracks">
        <div class="row divider">
            <div class="divider__text--center">
                <h2>Специальности</h2>

                <p>НЕТ ТЕКСТА</p>
            </div>
        </div>
        <div class="row track">

            {% for key, track in tracks %}
                <div class="medium-{{ 12 / (loop.length % 12) }} columns mb-20">

                    <div class="track__item">
                        <h3>{{ key }}</h3>
                        <img src="img/icons/course-icons_{{ key }}.svg" alt=""/>

                        <div class="track-courses">
                            <ul class="track-courses__list">
                                {% for item in track %}
                                    <li>
                                        <a href="/courses/{{ item.course }}">
                                            {{ item.course }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
    <div class="panel--success mb-50">
        <div class="divider row grid">
            <div class="divider__text layout-table">
                <div class="layout-table__cell w_m-60 w_l-70 layout-table__cell--middle">
                    <h2>Новости WebCamp</h2>

                    <p>Все новое о курсах и программах, что нового происходит в сфере IT: <br> выставки, семинары, мастер-классы и многое другое</p>
                </div>
                <div class="layout-table__cell w_m-40 w_l-30 layout-table__cell--middle text-right">
                    <a href="/news" class="btn--warning btn--follow btn--lg">
                        <span class="follow">Все новости</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="grid row latest-news">

        {% for i in 0..2 %}
            <div class="medium-4 columns latest-news__item">
                <p> {{ 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab culpa eligendi enim eos, exercitationem
                    incidunt laboriosam magnam modi odio optio provident quae quod ratione recusandae saepe sit tempora
                    veniam vero!'[:80] }} <a href="#"
                                             class="latest-news__more icon-dots-three-horizontal icons--warning"></a>
                </p>
            </div>
        {% endfor %}
    </div>

    <div class="awards">
        <div class="divider grid row">
            <div class="divider__text layout-table">
                <div class="layout-table__cell-70 layout-table__cell--middle">
                    <h2>Наши награды</h2>

                    <p>21 марта 2015 года в рамках всеукраинской конференции IT Jam проходил конкурс IT Education Awards.
                        Среди 46 участников со всей Украины, по итогам конкурса были отмечены лучшие учебные центры и образовательные инициативы.
                        </p>

                    <p>Курсы программирования Webcamp стали победителями в номинации "Специализированое IT-образование".</p>
                </div>
                <div class="layout-table__cell-30 layout-table__cell--middle">

                </div>
            </div>
        </div>
    </div>
    <div class="reviews">
        <div class="row grid divider">
            <div class="divider__text--center mb-20">
                <h2 class="text--success">Отзывы наших студентов</h2>
            </div>

            <div class="review clearfix">
                <div class="medium-3 columns">щщлщ</div>
                <div class="medium-9 columns">
                    <p class="review__name">Имя Фамилия</p>

                    <p class="review__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
                        assumenda
                        dolorum eum exercitationem fugiat harum iusto labore modi nemo nobis!</p>
                </div>
            </div>
            <div class="divider__more">
                <a href="/reviews" class="btn--warning btn--follow btn--lg">
                    <span class="follow">Все отзывы</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row divider employers">
        <div class="divider__text--center mb-30">
            <h2 class="text--success">Компании в которых работают наши студенты</h2>
        </div>
        <div class="employers__logos">
            <img src="img/employers/com_01.png" alt=""/>
            <img class="ml-15" src="img/employers/com_02.png" alt=""/>
            <img class="ml-15" src="img/employers/com_03.png" alt=""/>
            <img class="ml-15" src="img/employers/com_04.png" alt=""/>
        </div>
    </div>
{% endblock %}
