{% extends "base.html.twig" %}
{% block base %}/courses/{% endblock %}

{% block meta %}
    <meta name="description" content="{{ description }}"/>
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="https://{{ host }}/img/og-images/{{ alias }}.jpg">
    <meta property="og:image:type" content="image/jpeg" >
    <meta property="og:image:height" content="452">
    <meta property="og:image:width" content="1200">
    <meta property="og:url" content="https://{{ host }}/courses/{{ alias }}">
    <link rel="canonical" href="https://{{ host }}/courses/{{ alias }}">
{% endblock %}
{% block content %}

    <div class="page" ng-init="menuitem='{{ menuItem.name }}'" ng-view autoscroll="true">

    </div>
    <script type="application/ld+json">
                {
                  "@context": "http://schema.org",
                  "@type": "Course",
                  "name": "{{ title }}"
                  "description": "{{ description }}",
                  "provider": {
                    "@type": "Organization",
                    "name": "University of Technology - Eureka",
                    "sameAs": "http://www.ut-eureka.edu"
                  }
                }
    </script>

{% endblock %}