<div class="row grid mb-50" ng-controller="SchedulesController">
    {% verbatim %}

        <div class="large-6 columns closest" ng-class="{'end': $last}" ng-repeat="schedule in closest">
            <div class="row">
                <div class="large-3 medium-4 columns closest__date">
                    <p class="closest__day">
                        {{ schedule.begin | date:'d' }}
                    </p>

                    <p class="closest__month">
                        {{ schedule.begin | date:'MMMM' }}
                    </p>
                </div>
                <div class="large-9 medium-8 columns">
                    <div class="closest__course">
                        <h3 class="closest__name">
                            <a href="/courses/{{ schedule.course_alias }}">
                                {{ schedule.course_name }}
                            </a>
                        </h3>

                        <p class="closest__time">
                            {{ schedule.begin | date:'HH:mm' }}
                            - {{ schedule.getEndTime() | date:'HH:mm' }}
                            | {{ schedule.lessonCount }}
                            часов</p>

                        <p class="closest__price">{{ schedule.price }} грн</p>
                        <a href="#" class="btn--warning closest__enroll" ng-click="enroll(schedule)">Записаться</a>
                    </div>

                </div>
            </div>

            <div class="rule show-for-small-only mb-20"></div>
        </div>
        {% endverbatim %}
    {#{% for item in closest %}#}
    {#{% endfor %}#}
</div>